.App{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2rem 0;
}

.finput{
    position: relative;
    height: 40px;
    width: 90%;
}

.finput input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10% 0 10px;
    box-shadow: 5px 1px 10px rgb(65, 65, 65);
}

.finput button{
    position: absolute;
    right: 10px;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    color: #fafafa;
    font-weight: 500;
    padding: 2px;
    letter-spacing: 2px;
    background-color: rgb(19, 223, 212);
    border: none;
    border-radius: 5px;
}

.container{
    width: 90%;
}

.card {
    width: 100%;
    background-color: #fafafa;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.todo{
    width: 100%;
    display: flex;
    background-color: pink;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.todoText{
    width: 80%;
    word-wrap: break-word;
}

.todoAction{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.todoAction button{
    color: white;
    cursor: pointer;
    background-color: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    width: 30%;
    height: 30px;
}

.editForm{
    width: 100%;
    height: 100%;
}

.editForm input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0 5px;
    border-radius: 5px;
    height: 100%;
}

@media screen and (min-width : 480px) {
    .finput{
        width: 80%;
    }
    .container{
        width: 80%;
    }
}

@media screen and (min-width : 720px) {
    .finput{
        width: 60%;
    }
    .container{
        width: 60%;
    }
}

@media screen and (min-width : 1280px) {
    .finput{
        width: 35%;
    }
    .container{
        width: 35%;
    }
}